.container {
  display: flex;
  margin-top: 7px;
}

.image {
  width: 300px;
  height: 450px;
  margin-right: 30px;
  min-width: 300px;
}

.image img {
  width: 100%;
  height: auto;
}

.genresList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
